.OrderSent {
    margin: 20px 0 50px;
    display: flex;
    flex-direction: column;
}

.GroupBottons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ButtonNewOrder {
    background: var(--purple-500);
    color: var(--white);
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.6rem;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonChatWhatsApp {
    background: var(--green-200);
    color: var(--white);
    border: none;
    border-radius: 10px;
    height: 3.8rem;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.6rem;
    width: 50%;
    text-decoration: none;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.WhatsappLogo {
    color: var(--white);
}

.ButtonChatWhatsApp:hover {
    background: var(--green-500);
}

.ButtonNewOrder:hover {
    background: var(--purple-200);
    color: var(--purple-500);
}

@media (max-width:1310px) {
    .ButtonNewOrder {
        width: 35%;
    }

    .ButtonChatWhatsApp {
        width: 60%;
    }
}

@media (max-width: 1140px) {
    .ButtonNewOrder {
        font-size: 1.4rem;
    }

    .ButtonChatWhatsApp {
        font-size: 1.4rem;
    }
}

@media (max-width:1120px) {
    .ButtonNewOrder {
        width: 35%;
        font-size: 1.2rem;
    }

    .ButtonChatWhatsApp {
        width: 58%;
        font-size: 1.2rem;
    }
}

@media (max-width:930px) {
    .ButtonNewOrder {
        width: 55%;
        font-size: 1.4rem;
        padding: 1rem 1rem;
    }
}

@media (max-width:674px) {
    .ButtonChatWhatsApp {
        width: 70%;
    }
}

@media (max-width:574px) {
    .ButtonChatWhatsApp {
        width: 80%;
    }
}


@media (max-width:513px) {
    .ButtonNewOrder {
        height: 2.8rem;
        padding-top: 0.5rem;
        /* margin-top: 1rem; */
        font-weight: 600;
        font-size: 1.2rem;
        width: 80%;
    }

    .ButtonChatWhatsApp {
        width: 90%;
        gap: 0.5rem;
    }

    .OrderSent {
        padding-left: 1.5rem;
    }
}

@media (max-width:425px) {
    .ButtonChatWhatsApp .WhatsappLogo {
        width: 20%;
    }
}

@media (max-width: 330px) {
    .ButtonNewOrder {
        width: 100%;
    }

    .ButtonChatWhatsApp {
        width: 100%;
    }

    .OrderSent {
        padding: 0.9rem;
    }
}

@media (max-width:315px) {

    .ButtonNewOrder,
    .ButtonChatWhatsApp {
        font-size: 1rem;
    }

}

@media (max-width: 290px) {
    .ButtonChatWhatsApp {
        gap: 0;
    }

    .WhatsappLogo {
        width: 100%;
    }
}