/* Configuração padrão */
@font-face {
    font-family: Nephilm;
    src: url("../_assets/font/Nephilm.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    /* height: 100%; */
    /* background-image: url(../_assets/images/Pattern.jpg); */
}

root {
    font-size: 62.5%;
}

body {
    font-family: Nephilm;
    font-size: 1.6rem;
    line-height: 1.8rem;
    box-sizing: border-box;

}

/* Corpo do Form */

.formBody {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formBody form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-self: center;
}

/* img cardápio */

.menuBento img {
    display: flex;
    width: 100%;
    /* height: 100%; */
    justify-content: center;
    align-items: center;
    align-items: center;
}

/* Fonta do Titulo */

h1 {
    font-size: 4.2rem;
    line-height: 4.5rem;
    color: #4E2A58;
    text-align: center;
}

/* Campos */
.field,
.fieldSabor,
.fieldDataRetirada,
.fieldDataRetirada div,
.fieldPagamento,
.fieldVela {
    margin-top: 3%;
    /* align-self: center; */
}



.inputFieldText {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    background-color: rgb(228, 225, 230);
    font-size: 1.6rem;

}

.fieldDataRetirada input {
    color: white;
    font-size: 1.6rem;
    padding: 1%;
    width: 30%;
    height: 4rem;
    border: #4E2A58;
    border-radius: 10px;
    background: #4E2A58;
}

.fieldSabor label,
.fieldVela label,
.fieldPagamento label {
    margin: 5px;
}

/* Botoes */

.botaoSendOrder,
.ButtonNewOrder {
    background-color: #4E2A58;
    color: #D9D9D9;
    border: none;
    border-radius: 10px;
    height: 3.8rem;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.8rem;
}

.botaoSendOrder {
    width: 17rem;
}

.ButtonNewOrder {
    width: 30%;
}

.botaoSendOrder:hover,
.ButtonNovoPedido:hover,
.file:hover,
.ButtomUploadFile:hover,
.fieldDataRetirada input:hover {
    color: #4E2A58;
    background-color: #e0bfe9;
}

/* Campos relacionados ao upload das imagens */
.fieldUpload {
    display: flex;
    margin-top: 20px;
}

.ButtomUploadFile {
    padding: 10px;
    width: 250px;
    background-color: #4E2A58;
    color: #FFF;
    text-align: center;
    display: block;
    border-radius: 10px;
    cursor: pointer;
}


.fieldPreview {
    margin-left: 20px;
    /* padding: 10px; */
    display: flex;
}

.fieldPreview img {
    width: 60%;
    margin: 0 20px;
}

.fieldPreview span {
    font-size: 1.5rem;
}

input[type="file"] {
    display: none;
}




/* Mensage de validação do form */
.errorMessage {
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.6rem;
}

/* Tela de form enviado */
.PedidoEnviado {
    margin: 20px 0 50px;
}

@media (max-width:1310px) {

    h1 {
        font-size: 3.8rem;
    }

    .fieldDataRetirada input {
        width: 35%;
        height: 3rem;
    }

    .fieldUpload {
        flex-direction: column;
    }

    .fieldPreview {
        margin-top: 2%;
    }

    .ButtomUploadFile {
        width: 50%;
    }

}

@media (max-width:1140px) {

    .fieldDataRetirada input {
        width: 38%;
        height: 3rem;
    }

    .botaoSendOrder {
        font-size: 1.6rem;
    }
    .ButtonNewOrder {
        width: 35%;
    }
}


@media (max-width:1050px) {
    .fieldDataRetirada input {
        width: 48%;
        height: 3rem;
    }

    h1 {
        font-size: 3.5rem;
    }
    .ButtonNewOrder {
        width: 45%;
    }
}

@media (max-width:930px) {

    h1 {
        font-size: 3rem;
    }

    .botaoSendOrder {
        width: 12rem;
        font-size: 1.4rem;
    }

    .fieldDataRetirada input {
        width: 42%;
        height: 3rem;
    }
    
}

@media (max-width:820px) {
    body {
        font-size: 1.2rem;
    }

    .fieldDataRetirada input {
        width: 60%;
    }

    .formBody {
        padding-top: 1rem;
    }
    h1{
        height: 5rem;
        line-height: 3rem;
    }
}

@media (max-width: 720px) {
    h1 {
        font-size: 2.5rem;
    }

    .botaoSendOrder {
        font-size: 1rem;
    }

    .menuBento img {
        padding: 0;
    }
    .ButtonNewOrder {
        width: 60%;
        height: 3rem;
    }
}

@media (max-width: 640px) {
    body{
        line-height: 1.6rem;
    }
    .fieldDataRetirada input {
        width: 70%;
    }

    .ButtomUploadFile {
        width: 70%;
    }
    .ButtonNewOrder{
        width: 40%;
        font-size: 1.2rem;
    }


    .fieldPreview span {
        font-size: 1rem;
    }

    .inputFieldText {
        font-size: 1rem;
    }

    .errorMessage {
        font-size: 1rem;
    }
}

@media (max-width: 580px) {

    h1 {
        font-size: 2rem;
    }

    .fieldPreview span {
        font-size: 0.8rem;
    }

    .fieldDataRetirada input {
        width: 80%;
    }
    .botaoSendOrder{
        width: 50%;
        height: 2.8rem;
    }
}

@media (max-width:510px) {

    body {
        font-size: 1rem;
    }

    .fieldDataRetirada input {
        width: 80%;
        font-size: 1.2rem;
    }

    .inputFieldText {
        font-size: 1rem;
    }

    .errorMessage {
        font-size: 1rem;
    }
    .botaoSendOrder{
        /* padding: 0px;  */
        width: 40%;
        margin: 10px;
    }
}
@media (max-width:380px) {
    .fieldDataRetirada input {
        width: 90%;
        /* font-size: 0.5rem; */
    }
    .botaoSendOrder{
        /* padding: 0px;  */
        width: 50%;
        margin: 10px;
    }
} .ButtonNewOrder{
    width: 70%;
    font-size: 1rem;
}